*{
    box-sizing: border-box;
}
header {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 45px;
    font-weight: 500;
}
h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}

body {
    height: 100vh;
    background:  rgba(53, 171, 201, 0.2);
}
#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 160px 160px;
    gap: 5px;
    grid-template-areas: 
    "s6 p7 p8 p9 p10 p11 p12 s13"
    "s6 p5 p4 p3 p2 p1 p0 s13";
    background-color: #BD8547;
    padding: 10px;
    border-radius: 12px; 

}
#board > div {
    border: 0.25vmin solid black;
    width: auto;
    border-radius: 12px;
    box-shadow: 5px 10px 0px 0px inset rgb(146, 104, 56);
    display: flex; 
    justify-content: center;   
    align-items: center;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}

.store {
    border: 0.25vmin solid black;
    height: 325px;
    width: auto;
    border-radius: 12px;
    box-shadow: 5px 10px 0px 0px inset rgb(146, 104, 56);
}

button {
    background-color: lightgray;
    color: white;
    border: 1vmin solid lightgray;
    border-radius: 12px;
    margin: 5px; 

}
button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    background-color: aqua;
    color: white;
    border: 1vmin solid aqua;
}

#p6 {
    grid-area: 's6';
    grid-column: 1;
    grid-row: 1 / 3;
}

#p13 {
    grid-area: 's13';
    grid-column: 8;
    grid-row: 1 / 3;
}

#p0 {
    grid-area: 'p0';
}
#p1 {
    grid-area: 'p1';
}
#p2 {
    grid-area: 'p2';
}
#p3 {
    grid-area: 'p3';
}
#p4 {
    grid-area: 'p4';
}
#p5 {
    grid-area: 'p5';
}
#p7 {
    grid-area: 'p7';
}
#p8 {
    grid-area: 'p8';
}
#p9 {
    grid-area: 'p9';
}
#p10 {
    grid-area: 'p10';
}
#p11 {
    grid-area: 'p11';
}
#p12 {
    grid-area: 'p12';
}